package.json
spec/frontend_support/spec_view/runtime/split-string.js
infra/antiflake
script/javascriptStats/flexbot.js
script/javascriptStats/s3Access.js
script/javascriptStats/statsReader.js
script/build_stats/build-stats.js
script/build_stats/compute-webpack-diff.js
script/build_stats/diff-markdown-tools.js
script/build_stats/generate-diff-markdown.js
script/build_stats/pr-notify.js
script/build_stats/s3-store.js
script/javascriptStats/eslintUsageStatsJob.js
script/javascriptStats/flowFixMeUsageStatsJob.js
script/javascriptStats/githubCoverageComments.js
script/javascriptStats/statsWriter.js
script/javascriptStats/summaryStatistics.js
script/webpackStats/amplitude.js
script/webpackStats/datadog.js
*.fixture.js

# ported from excluded-files-regex
api_docs/lib/**
flow-typed/**
flow-typed-overrides/**
mobile/drive/flow-typed/**
mobile/drive/src/types/auto**
public/javascripts/vendor/**
*__generated__*
spec/files/fixtures/cargo_smart/sailing_schedules_response.json
docker/prod/scalyr.json
docker/services/base/build/conf/scalyr.json
capital/swagger.json
capital/infra/docker/base/build/conf/scalyr.json
config/core/action_item_snapshot.json
package.json
customs/catair/**
customs/cbp-abi-rb/lib/cbp/abi/resources/**
external/**
.yarn/**
env-improvement/nis-generator/example-nis/infra/docker/base/build/conf/sumo.json
env-improvement/nis-generator/example-nis/infra/docker/base/build/conf/scalyr.json
